In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [14]:
df = pd.read_csv("New_team_strengths_rashid(1).csv")
df

   Team  Year  Team_strength  Cumulative_team_strength
0   csk  2008      59.935806                 59.935806
1   csk  2009      91.559433                 91.559433
2   csk  2010      67.312202                 84.118229
3   csk  2011      60.553453                 64.765660
4   csk  2012      88.895166                 68.131081
..  ...   ...            ...                       ...
95  srh  2015      68.542158                 55.679935
96  srh  2016      63.017227                 56.876430
97  srh  2017     114.892155                106.521014
98  srh  2018      92.935897                 78.795209
99  srh  2019      53.403787                 66.497297

[100 rows x 4 columns]

In [15]:
df["Team AHP value"] = ''

for i in range(0, 100):
    if df["Team"].iloc[i] == "csk":
        df["Team AHP value"].iloc[i] = 16.900712
    
    elif df["Team"].iloc[i] == "mi":
        df["Team AHP value"].iloc[i] = 15.160852
    
    elif df["Team"].iloc[i] == "kkr":
        df["Team AHP value"].iloc[i] = 12.745465
    
    elif df["Team"].iloc[i] == "rr":
        df["Team AHP value"].iloc[i] = 12.695051
    
    elif df["Team"].iloc[i] == "rcb":
        df["Team AHP value"].iloc[i] = 9.982425
    
    elif df["Team"].iloc[i] == "kxip":
        df["Team AHP value"].iloc[i] = 9.380131
    
    elif df["Team"].iloc[i] == "srh":
        df["Team AHP value"].iloc[i] = 9.026536
        
    elif df["Team"].iloc[i] == "dd":
        df["Team AHP value"].iloc[i] = 8.076035
    
    elif df["Team"].iloc[i] == "rps":
        df["Team AHP value"].iloc[i] = 6.032793

C:\Users\khand\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
df

   Team  Year  Team_strength  Cumulative_team_strength Team AHP value
0   csk  2008      59.935806                 59.935806        16.9007
1   csk  2009      91.559433                 91.559433        16.9007
2   csk  2010      67.312202                 84.118229        16.9007
3   csk  2011      60.553453                 64.765660        16.9007
4   csk  2012      88.895166                 68.131081        16.9007
..  ...   ...            ...                       ...            ...
95  srh  2015      68.542158                 55.679935        9.02654
96  srh  2016      63.017227                 56.876430        9.02654
97  srh  2017     114.892155                106.521014        9.02654
98  srh  2018      92.935897                 78.795209        9.02654
99  srh  2019      53.403787                 66.497297        9.02654

[100 rows x 5 columns]

In [17]:
df.isna().sum()

Team                        0
Year                        0
Team_strength               0
Cumulative_team_strength    0
Team AHP value              0
dtype: int64

In [18]:
df["Team AHP mean"] = ''

for i in range(0, 100):
    if df["Team"].iloc[i] == "csk":
        df["Team AHP mean"].iloc[i] = 1.521064
    
    elif df["Team"].iloc[i] == "mi":
        df["Team AHP mean"].iloc[i] = 1.364477
    
    elif df["Team"].iloc[i] == "kkr":
        df["Team AHP mean"].iloc[i] = 1.147092
    
    elif df["Team"].iloc[i] == "rr":
        df["Team AHP mean"].iloc[i] = 1.142555
    
    elif df["Team"].iloc[i] == "rcb":
        df["Team AHP mean"].iloc[i] = 0.898418
    
    elif df["Team"].iloc[i] == "kxip":
        df["Team AHP mean"].iloc[i] = 0.844212
    
    elif df["Team"].iloc[i] == "srh":
        df["Team AHP mean"].iloc[i] = 0.812388
        
    elif df["Team"].iloc[i] == "dd":
        df["Team AHP mean"].iloc[i] = 0.726843
    
    elif df["Team"].iloc[i] == "rps":
        df["Team AHP mean"].iloc[i] = 0.542951

C:\Users\khand\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
df["Team AHP median"] = ''

for i in range(0, 100):
    if df["Team"].iloc[i] == "csk":
        df["Team AHP median"].iloc[i] = 1.693047
    
    elif df["Team"].iloc[i] == "mi":
        df["Team AHP median"].iloc[i] = 1.518754
    
    elif df["Team"].iloc[i] == "kkr":
        df["Team AHP median"].iloc[i] = 1.276790
    
    elif df["Team"].iloc[i] == "rr":
        df["Team AHP median"].iloc[i] = 1.271740
    
    elif df["Team"].iloc[i] == "rcb":
        df["Team AHP median"].iloc[i] = 1.000000
    
    elif df["Team"].iloc[i] == "kxip":
        df["Team AHP median"].iloc[i] = 0.939665
    
    elif df["Team"].iloc[i] == "srh":
        df["Team AHP median"].iloc[i] = 0.904243
        
    elif df["Team"].iloc[i] == "dd":
        df["Team AHP median"].iloc[i] = 0.809025
    
    elif df["Team"].iloc[i] == "rps":
        df["Team AHP median"].iloc[i] = 0.604341

In [20]:
df

,Team,Year,Team_strength,Cumulative_team_strength,Team AHP value,Team AHP mean,Team AHP median
0,csk,2008,59.935806,59.935806,16.9007,1.52106,1.69305
1,csk,2009,91.559433,91.559433,16.9007,1.52106,1.69305
2,csk,2010,67.312202,84.118229,16.9007,1.52106,1.69305
3,csk,2011,60.553453,64.765660,16.9007,1.52106,1.69305
4,csk,2012,88.895166,68.131081,16.9007,1.52106,1.69305
...,...,...,...,...,...,...,...
95,srh,2015,68.542158,55.679935,9.02654,0.812388,0.904243
96,srh,2016,63.017227,56.876430,9.02654,0.812388,0.904243
97,srh,2017,114.892155,106.521014,9.02654,0.812388,0.904243
98,srh,2018,92.935897,78.795209,9.02654,0.812388,0.904243
99,srh,2019,53.403787,66.497297,9.02654,0.812388,0.904243

In [21]:
# df.to_csv("New_team_strengths_rashid(2).csv", index=False)