In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("add_win_percent.csv")

In [3]:
data.head()

,Unnamed: 0,ID,SEASON,CITY,CITY_Corrrected,TEAM1,TEAM1_MODEL,TEAM2,TEAM2_MODEL,TOSS_WINNER,TOSS_DECISION,RESULT,WINNER,WIN_BY_RUNS,TOSS_WINNER_MODEL,WINNER_MODEL,TOSS_DECISION_MODEL,CITY_MODEL
0,0,1,2017,Hyderabad,SRH,SRH,1,RCB,0,RCB,field,normal,SRH,35,0,1,0,1
1,1,2,2017,Pune,RPS,RPS,1,MI,0,RPS,field,normal,RPS,0,1,1,0,1
2,2,3,2017,Rajkot,GL,KKR,1,GL,0,KKR,field,normal,KKR,0,1,1,0,0
3,3,4,2017,Indore,Indore,KXIP,1,RPS,0,KXIP,field,normal,KXIP,0,1,1,0,2
4,4,5,2017,Bangalore,RCB,RCB,1,DD,0,RCB,bat,normal,RCB,15,1,1,1,1

# Getting the number of matches each year->

In [4]:
s = data['SEASON'].value_counts()
ipl_match_numbers_by_year = s.to_dict()

In [5]:
ipl_match_numbers_by_year

{2013: 76,
 2012: 74,
 2011: 72,
 2018: 60,
 2016: 60,
 2014: 60,
 2010: 60,
 2019: 59,
 2017: 59,
 2008: 58,
 2015: 57,
 2009: 57}

In [6]:
a = sorted(ipl_match_numbers_by_year.keys())

In [7]:
a

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [8]:
for i in range(0,len(a)-2):
    ipl_match_numbers_by_year[a[i+1]] = ipl_match_numbers_by_year[a[i+1]]+ipl_match_numbers_by_year[a[i]]

In [9]:
ipl_match_numbers_by_year

{2013: 397,
 2012: 321,
 2011: 247,
 2018: 693,
 2016: 574,
 2014: 457,
 2010: 175,
 2019: 59,
 2017: 633,
 2008: 58,
 2015: 514,
 2009: 115}

# fixing team names

In [10]:
data.replace({'TEAM1':{'RPSs':'RPS','PW':'RPS','DC':'SRH'}},inplace=True)
data.replace({'TEAM2':{'RPSs':'RPS','PW':'RPS','DC':'SRH'}},inplace=True)
data.replace({'WINNER':{'RPSs':'RPS','PW':'RPS','DC':'SRH'}},inplace=True)
data.replace({'TOSS_WINNER':{'RPSs':'RPS','PW':'RPS','DC':'SRH'}},inplace=True)

# creating new rows

In [11]:
null_values = []
for i in range(len(data)):
    null_values.append(0)
data['WIN_RATE_TEAM1'] = null_values
data['WIN_RATE_TEAM2'] = null_values

# code for calculating win rate

In [12]:


def update_win_rate(dataframe):
    match_wins_team_wise = {'KKR':0,'CSK':0,'RCB':0,'KXIP':0,'DD':0,'SRH':0,'RPS':0,'GL':0,'KTK':0,'RR':0,'MI':0}
    for j in range(len(dataframe)):
        if(dataframe.loc[j,'SEASON'] == 2008):
            match_wins_team_wise[dataframe.loc[j,'WINNER']] +=1
    years = [2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]
    for i in range(len(years)-1): 
        for k in range(len(dataframe)):
            if(dataframe.loc[k,'SEASON'] == years[i+1]):
                dataframe.loc[k,'WIN_RATE_TEAM1'] = match_wins_team_wise[dataframe.loc[k,'TEAM1']]/ipl_match_numbers_by_year[years[i]]
                dataframe.loc[k,'WIN_RATE_TEAM2'] = match_wins_team_wise[dataframe.loc[k,'TEAM2']]/ipl_match_numbers_by_year[years[i]]
        for j in range(len(dataframe)):
            if(dataframe.loc[j,'SEASON'] == years[i+1]):
                match_wins_team_wise[dataframe.loc[j,'WINNER']] +=1
    return dataframe

In [13]:
data[data['WINNER'].isnull() == True]

Empty DataFrame
Columns: [Unnamed: 0, ID, SEASON, CITY, CITY_Corrrected, TEAM1, TEAM1_MODEL, TEAM2, TEAM2_MODEL, TOSS_WINNER, TOSS_DECISION, RESULT, WINNER, WIN_BY_RUNS, TOSS_WINNER_MODEL, WINNER_MODEL, TOSS_DECISION_MODEL, CITY_MODEL, WIN_RATE_TEAM1, WIN_RATE_TEAM2]
Index: []

In [14]:
#removing the null value columns
data = data.drop([300,545,570,744])
#reseting the index
data = data.reset_index(drop=True)

In [15]:
#checking all null values
data.isnull().sum()

Unnamed: 0             0
ID                     0
SEASON                 0
CITY                   0
CITY_Corrrected        0
TEAM1                  0
TEAM1_MODEL            0
TEAM2                  0
TEAM2_MODEL            0
TOSS_WINNER            0
TOSS_DECISION          0
RESULT                 0
WINNER                 0
WIN_BY_RUNS            0
TOSS_WINNER_MODEL      0
WINNER_MODEL           0
TOSS_DECISION_MODEL    0
CITY_MODEL             0
WIN_RATE_TEAM1         0
WIN_RATE_TEAM2         0
dtype: int64

In [16]:
#Fixing the null values
data["CITY"].fillna("Dubai",inplace = True)
data["CITY_Corrrected"].fillna("Dubai",inplace = True)

In [17]:
data.isnull().sum()

Unnamed: 0             0
ID                     0
SEASON                 0
CITY                   0
CITY_Corrrected        0
TEAM1                  0
TEAM1_MODEL            0
TEAM2                  0
TEAM2_MODEL            0
TOSS_WINNER            0
TOSS_DECISION          0
RESULT                 0
WINNER                 0
WIN_BY_RUNS            0
TOSS_WINNER_MODEL      0
WINNER_MODEL           0
TOSS_DECISION_MODEL    0
CITY_MODEL             0
WIN_RATE_TEAM1         0
WIN_RATE_TEAM2         0
dtype: int64

In [18]:
newdata = update_win_rate(data)

In [19]:
newdata['WIN_RATE_TEAM1'].value_counts()

0.000000    77
0.147826    22
0.118380    19
0.114786    18
0.112150    15
            ..
0.101010     4
0.015679     4
0.113043     4
0.113786     4
0.115974     4
Name: WIN_RATE_TEAM1, Length: 77, dtype: int64

In [20]:
newdata[100:120]

,Unnamed: 0,ID,SEASON,CITY,CITY_Corrrected,TEAM1,TEAM1_MODEL,TEAM2,TEAM2_MODEL,TOSS_WINNER,TOSS_DECISION,RESULT,WINNER,WIN_BY_RUNS,TOSS_WINNER_MODEL,WINNER_MODEL,TOSS_DECISION_MODEL,CITY_MODEL,WIN_RATE_TEAM1,WIN_RATE_TEAM2
100,100,101,2008,Jaipur,RR,RR,1,RCB,0,RCB,field,normal,RR,65,0,1,0,1,0.000000,0.000000
101,101,102,2008,Hyderabad,SRH,MI,1,SRH,0,SRH,field,normal,MI,25,0,1,0,0,0.000000,0.000000
102,102,103,2008,Kolkata,KKR,KKR,1,CSK,0,KKR,bat,normal,CSK,3,1,0,1,1,0.000000,0.000000
103,103,104,2008,Bangalore,RCB,RCB,1,DD,0,DD,field,normal,DD,0,0,0,0,1,0.000000,0.000000
104,104,105,2008,Kolkata,KKR,KKR,1,RR,0,RR,field,normal,RR,0,0,0,0,1,0.000000,0.000000
105,105,106,2008,Mumbai,MI,KXIP,1,MI,0,MI,field,normal,KXIP,1,0,1,0,0,0.000000,0.000000
106,106,107,2008,Chennai,CSK,RCB,1,CSK,0,RCB,bat,normal,RCB,14,1,1,1,0,0.000000,0.000000
107,107,108,2008,Chandigarh,KXIP,SRH,1,KXIP,0,KXIP,field,normal,KXIP,0,0,0,0,0,0.000000,0.000000
108,108,109,2008,Delhi,DD,MI,1,DD,0,DD,field,normal,DD,0,0,0,0,0,0.000000,0.000000
109,109,110,2008,Chennai,CSK,RR,1,CSK,0,RR,bat,normal,RR,10,1,1,1,0,0.000000,0.000000
110,110,111,2008,Bangalore,RCB,RCB,1,SRH,0,SRH,field,normal,RCB,3,0,1,0,1,0.000000,0.000000
111,111,112,2008,Kolkata,KKR,KXIP,1,KKR,0,KXIP,bat,normal,KKR,0,1,0,1,0,0.000000,0.000000
112,112,113,2008,Jaipur,RR,MI,1,RR,0,RR,field,normal,RR,0,0,0,0,0,0.000000,0.000000
113,113,114,2008,Hyderabad,SRH,SRH,1,CSK,0,SRH,bat,normal,CSK,0,1,0,1,1,0.000000,0.000000
114,114,115,2008,Mumbai,MI,RR,1,DD,0,DD,field,normal,RR,105,0,1,0,2,0.000000,0.000000
115,115,116,2008,Mumbai,MI,KXIP,1,CSK,0,KXIP,bat,normal,CSK,0,1,0,1,2,0.000000,0.000000
116,116,117,2008,Mumbai,MI,CSK,1,RR,0,RR,field,normal,RR,0,0,0,0,2,0.000000,0.000000
117,117,118,2009,Cape Town,Cape Town,MI,1,CSK,0,CSK,field,normal,MI,19,0,1,0,2,0.120690,0.155172
118,118,119,2009,Cape Town,Cape Town,RCB,1,RR,0,RCB,bat,normal,RCB,75,1,1,1,2,0.068966,0.224138
119,119,120,2009,Cape Town,Cape Town,KXIP,1,DD,0,DD,field,normal,DD,0,0,0,0,2,0.172414,0.120690

In [21]:
newdata.to_csv("data_with_win_rate.csv")