In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import scipy.stats as stats
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re

In [42]:
def read_player_data():
    path = r'Auction_data'
    all_files = glob.glob(path + "/*.xlsx")
    
    li = []

    for filename in all_files:
        df = pd.read_excel(filename, index_col=None, header=0)
        #df = pd.read_excel('Auction_data/auction_data_2008.xlsx')
        df = df.iloc[:,[2,6,7]]
        df.columns = ['Name', ' Team' , 'Dollar']
        temp = re.findall(r'\d+', filename) 
        df['Year'] = temp[0]
        li.append(df)
        break

    all_years_player_performance = pd.concat(li, axis=0, ignore_index=True)
    return all_years_player_performance

In [59]:
df = pd.read_excel('Auction_data/auction_data_2008.xlsx')
df = df.iloc[:,[2,6,7]]
df.columns = ['Name', 'Team' , 'Dollar']
df['Year'] = 2008

In [60]:
df.head()

                   Name                   Team  Dollar  Year
0           Shane Warne       Rajasthan Royals   450.0  2008
1  Mahendra Singh Dhoni    Chennai Super Kings  1500.0  2008
2        Adam Gilchrist        Deccan Chargers   700.0  2008
3         Shoaib Akhtar  Kolkata Knight Riders   425.0  2008
4    Mahela Jayawardene        Kings XI Punjab   475.0  2008

In [61]:
df.Team.unique()

array(['Rajasthan Royals', 'Chennai Super Kings', 'Deccan Chargers',
       'Kolkata Knight Riders', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils', 'Unsold',
       'Mumbai Indians'], dtype=object)

In [64]:
df.replace(to_replace=['Rajasthan Royals', 'Chennai Super Kings', 'Deccan Chargers',\
                       'Kolkata Knight Riders', 'Kings XI Punjab',\
                       'Royal Challengers Bangalore', 'Delhi Daredevils',\
                       'Mumbai Indians'],
           value= ['RR', 'CSK', 'SRH','KKR','KXIP','RCB','DD','MI'], 
           inplace=True)

In [78]:
df.head(50)

                     Name    Team  Dollar  Year
0             Shane Warne      RR   450.0  2008
1    Mahendra Singh Dhoni     CSK  1500.0  2008
2          Adam Gilchrist     SRH   700.0  2008
3           Shoaib Akhtar     KKR   425.0  2008
4      Mahela Jayawardene    KXIP   475.0  2008
5    Muttiah Muralitharan     CSK   600.0  2008
6             Anil Kumble     RCB   500.0  2008
7      Glenn McGrath[REC]      DD   350.0  2008
8    Mohammed Yousuf[REC]  Unsold     NaN  2008
9         Harbhajan Singh      MI   850.0  2008
10      Sanath Jayasuriya      MI   975.0  2008
11       Kumar Sangakkara    KXIP   700.0  2008
12          Ricky Ponting     KKR   400.0  2008
13              Brett Lee    KXIP   900.0  2008
14         Andrew Symonds     SRH  1350.0  2008
15    Michael Hussey[REC]     CSK   250.0  2008
16         Daniel Vettori      DD   625.0  2008
17         Matthew Hayden     CSK   375.0  2008
18       Brendon McCullum     KKR   700.0  2008
19             Jacob Oram     CSK   675.0  2008
20        Stephen Fleming     CSK   350.0  2008
21           Graeme Smith      RR   250.0  2008
22       Herschelle Gibbs     SRH   575.0  2008
23            Chris Gayle     KKR   800.0  2008
24           Shoaib Malik      DD   500.0  2008
25          Shahid Afridi     SRH   675.0  2008
26            Younis Khan      RR   225.0  2008
27          Mohammad Asif      DD   650.0  2008
28         Jacques Kallis     RCB   900.0  2008
29            Zaheer Khan     RCB   450.0  2008
30              Sreesanth    KXIP   625.0  2008
31         Dinesh Karthik      DD   525.0  2008
32         AB de Villiers      DD   300.0  2008
33           Mark Boucher     RCB   450.0  2008
34          Parthiv Patel     CSK   325.0  2008
35           Kamran Akmal      RR   150.0  2008
36     Tatenda Taibu[REC]     KKR   125.0  2008
37           Albie Morkel     CSK   675.0  2008
38           Ajit Agarkar     KKR   350.0  2008
39          Shaun Pollock      MI   550.0  2008
40           Irfan Pathan    KXIP   925.0  2008
41           Scott Styris     SRH   175.0  2008
42       Farveez Maharoof      DD   225.0  2008
43   Tillakaratne Dilshan      DD   250.0  2008
44          Cameron White     RCB   500.0  2008
45           Yusuf Pathan      RR   475.0  2008
46        Joginder Sharma     CSK   225.0  2008
47  Ramnaresh Sarwan[REC]    KXIP   225.0  2008
48      Simon Katich[REC]    KXIP   200.0  2008
49     Justin Langer[REC]      RR   200.0  2008

In [66]:
player = pd.read_csv('Auction_Data_Player_List.csv')
player.head()

   Year Team  Unnamed: 2      Player  Strength For Model Team.1
0  2008  CSK           2   ML Hayden           50.854167    CSK
1  2008  CSK           6    SK Raina           41.761567    CSK
2  2008  CSK           0  MEK Hussey           39.357860    CSK
3  2008  CSK           7   JA Morkel           37.238528    CSK
4  2008  CSK           4    MS Dhoni           34.630915    CSK

In [74]:
new = player.Player.str.split(expand=True)

In [76]:
new.head(50)

         0             1         2     3
0       ML        Hayden      None  None
1       SK         Raina      None  None
2      MEK        Hussey      None  None
3       JA        Morkel      None  None
4       MS         Dhoni      None  None
5       PA         Patel      None  None
6        L        Balaji      None  None
7        P      Amarnath      None  None
8        M  Muralitharan      None  None
9       SP       Fleming      None  None
10       M         Ntini      None  None
11      MF      Maharoof      None  None
12      AB            de  Villiers  None
13       S        Dhawan      None  None
14       V        Sehwag      None  None
15       G       Gambhir      None  None
16       A        Mishra      None  None
17      KD       Karthik      None  None
18      TM       Dilshan      None  None
19      DL       Vettori      None  None
20      VY        Mahesh      None  None
21      GD       McGrath      None  None
22    Umar           Gul      None  None
23  Shoaib        Akhtar      None  None
24  Salman          Butt      None  None
25      BB      McCullum      None  None
26      BJ         Hodge      None  None
27      SC       Ganguly      None  None
28      DJ        Hussey      None  None
29     BAW        Mendis      None  None
30      WP          Saha      None  None
31      AB       Agarkar      None  None
32      AB         Dinda      None  None
33      SE         Marsh      None  None
34      JR         Hopes      None  None
35      SM        Katich      None  None
36      KC    Sangakkara      None  None
37  Yuvraj         Singh      None  None
38    DPMD   Jayawardene      None  None
39      PP        Chawla      None  None
40      IK        Pathan      None  None
41       B           Lee      None  None
42      LA    Pomersbach      None  None
43      RR        Sarwan      None  None
44     CRD      Fernando      None  None
45      DJ         Bravo      None  None
46      DR         Smith      None  None
47      ST    Jayasuriya      None  None
48      SR     Tendulkar      None  None
49      SM       Pollock      None  None

In [8]:
import numpy as np
from sklearn.model_selection import RepeatedStratifiedKFold
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
y = np.array([0, 0, 1, 1])
rskf = RepeatedStratifiedKFold(n_splits=2, n_repeats=5,
   random_state=None)
for train_index, test_index in rskf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

TRAIN: [0 2] TEST: [1 3]
TRAIN: [1 3] TEST: [0 2]
TRAIN: [0 3] TEST: [1 2]
TRAIN: [1 2] TEST: [0 3]
TRAIN: [0 3] TEST: [1 2]
TRAIN: [1 2] TEST: [0 3]
TRAIN: [0 2] TEST: [1 3]
TRAIN: [1 3] TEST: [0 2]
TRAIN: [1 2] TEST: [0 3]
TRAIN: [0 3] TEST: [1 2]